
   section {
    width: 131px;
    border: 5px solid rgb(26, 156, 207);
    padding: 30px;
    margin: 15px;
  } 

#distinto {
 color:red;
 
 font-size: 13px;
  }
  



   
   


 
